parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Foundation\\Http\\Kernel and ''hasMiddleware'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/XhprofServiceProvider.php
